<link rel="stylesheet" href="/assets/css/Login.css">
<title>SQUAD</title>
<link
  rel="icon"
  href="/assets/img/logo.png"
  sizes="16x16"
/>

<div class="login-box">
    <h2>Sign Up</h2>
    <form>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Firstname</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Name</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div><div class="user-box">
        <input type="password" name="" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <a href="Accueil.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sign Up
      </a>
    </form>
  </div>