body{font-size: small;}

/* On mouse-over, add a deeper shadow */
.grid .card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
opacity: 1;
}

/* Add some padding inside the card container */
.grid .card .container_ {
padding: 2px 16px;
position: relative;
}

.grid .card p{
    margin-top: 35px
}

.grid .card a{
    display: block;
    margin-top: 10px;
}

.grid .card a button{
    padding: 8px;
    width: 100%;
    border: 0;
    background-color: blue;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.grid .card a button:hover{
    background-color: #f1f1f1;
    color: black;
}

.grid .card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px; /* 5px rounded corners */
margin: 10px;
padding-bottom: 10px;
opacity: 0.9;
}

/* Add rounded corners to the top left and the top right corner of the image */
.grid .card img {
border-radius: 5px 5px 0 0;
}

.grid{
display: grid;
}

@media(min-width:400px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width:700px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width:1000px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(max-width:1200px){}

.chip {
display: flex;
padding: 0 25px;
height: 50px;
line-height: 50px;
border-radius: 25px;
background-color: #f1f1f1;
margin-top: -25px;
z-index: 1;
position:absolute;
font-size: small;
}

.chip img {
float: left;
margin: 0 10px 0 -25px;
height: 50px;
width: 50px;
border-radius: 50% !important;
}